.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  background: #333;
}

.timeline ul li::after {
  content: "\2022";
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 250px;
  padding: 15px;
  padding-bottom: 0;
  background: #FFF;
  font-size: 18px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li div {
  left: 45px;
}

.timeline ul li div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}